.DS_Store
/server/Resource
/server/composer.lock
/server/Core/DB.php
/dist
/css
/fonts
/img
/js
/index.html
/manifest.json
/browserconfig.xml
/upload
/rest.http
/.vue/dist
/.vue/package-lock.json
/.vue/node_modules
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
