RewriteEngine On

# RewriteCond %{HTTP:X-Forwarded-Proto} !https
# RewriteCond %{HTTPS} off
# RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# ENVIRONMENT VARIABLES
RewriteRule ^ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_URI} ^(/.*)?
RewriteRule ^ - [E=APP:admin]
RewriteCond %{REQUEST_URI} ^(/.*)*/setup/?
RewriteRule ^ - [E=APP:setup]
RewriteCond %{REQUEST_URI} ^(/.*)*/rest(/.*)?
RewriteRule ^ - [E=APP:admin-rest]

RewriteCond %{SCRIPT_FILENAME} -f
RewriteCond %{SCRIPT_FILENAME} \.(png|PNG|jpg|JPG|jpeg|JPEG)$
RewriteCond %{QUERY_STRING} resize=1
RewriteRule ^(.*)$ image-resizer.php [L,QSA]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)$ index.php?route=/$1 [L,QSA]

Options All -Indexes
DirectoryIndex index.php

Header always set Access-Control-Allow-Origin "http://192.168.1.65:8080"
Header set Access-Control-Allow-Methods "OPTIONS,GET,HEAD,POST,PUT,DELETE"
Header append Access-Control-Allow-Headers "Authorization,Content-Type,X-PINGOTHER"
Header set Access-Control-Allow-Credentials "true"
